<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <div class="detalle">

      <h1><%= message %></h1>

      <p class="error">
        Código de error: <%= error.status %>
      </p>

      <% if (error.stack) { %>
        <pre><%= error.stack %></pre>
      <% } %>

      <a href="/">⬅ Volver al inicio</a>

    </div>

  </body>
</html>