<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%- include('./partials/menu') %>
    <h2><%= autor %></h2>
    <p>Hecho con ❤️ en Programación Web Full Stack</p>

  </body>
</html>